# --- Python junk ---
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# --- Environments ---
.venv/
venv/

# --- Data: ignore everything ---
data/**

# --- Keep folder structure ---
!data/**/.gitkeep

# --- Keep Excel files anywhere under data/ ---
!data/**/*.xlsx


# --- Optional: if your trained artifacts are large, ignore them too ---
models/**
!models/.gitkeep
